<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - Serenity Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">AIRBNB PREDICTION</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
            <ul>
              <li><a href="about.html">About</a></li>
              </li>
            </ul>
          </li>
        </li><li><a href="predict.html">Predict</a></li>  
          <li><a href="pricing.html">Pricing</a></li>
          <li><a class="active" href="portfolio.html">Portfolio</a>  
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Portfolio</h2>
            <p>"Welcome to your haven of comfort! Discover a home away from home with us, where every stay is an adventure waiting to unfold."</p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portolio</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Country-Side</li>
              <li data-filter=".filter-app">Amazing-Pools</li>
              <li data-filter=".filter-card">Luxury-Hotels</li>
              <li data-filter=".filter-web">Tropical-Homes</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/eba48af4-0dea-4839-ad07-128a95b35da5.jpg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Country-Side</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/3c8800a7-de76-4c15-bcb8-080cf95ba2d2.jpg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Country-Side</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/65ff9d02-de08-44f1-b2ca-0d58b6d69133.jpg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Contry-Side</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/miso/Hosting-996708135156108632/original/451854e6-aec1-4afc-ad4b-ce746fe0ac70.jpeg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Amazing-Pools</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/miso/Hosting-902846889215199021/original/fc507821-55de-4394-a574-8771ea80ac1a.jpeg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Amazing-Pools</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/14152ff7-28fa-48cc-9c90-ac787fb5bb6b.jpg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Luxury-Hotels</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/42de5c14-6089-4945-beb4-6b3e7d8853a0.jpg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Luxury-Hotels</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/miso/Hosting-736198410456285256/original/988e0bd4-0e2f-4ccc-9ea3-af5f06209af4.jpeg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tropical-Homes</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://a0.muscache.com/im/pictures/miso/Hosting-736181469085216193/original/1d250ef0-7f95-4efc-88d5-778f02cca490.jpeg?im_w=720" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tropical-Homes</h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 mb-4 footer-info">
            <h3>Airbnb Hotels</h3>
            <p>Certainly! Here's a concise overview of Airbnb Hotels:

              "Airbnb Hotels redefine travel with a diverse selection of accommodations, from boutique stays to luxury resorts. Hosts provide unique experiences, and guests enjoy seamless booking, verified reviews, and a commitment to safety. Explore extraordinary destinations and make every stay memorable with Airbnb Hotels."</p>
          </div>

          <div class="col-lg-4 col-md-4 mb-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-4 mb-4 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Phone:</strong>+91 99999 XXXXX<br>
              <strong>Email:</strong>airbnb@info.com<br>
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Airbnb</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Airbnb</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>